# IDE and OS files
.DS_Store
*.log
.env*
!.env.example

# Frontend artifacts
node_modules/
build/
dist/
coverage/

# Backend artifacts
backend/venv/
backend/__pycache__/
__pycache__/
*.pyc
db.sqlite3
/backend/db.sqlite3
